<div class='recipe card card-default' (click)="userClicked()">
    <div class="card-header">
        <h3 class="card-title">{{ recipe.title }}</h3>
    </div>
    <div class="card-body">
        <div class='cover-photo-holder'>
            <img [src]="imageUrl(recipe.cover_photo, '/assets/emptyBowl.jpg')" />
        </div>
        <p>{{ recipe.description }}</p>
        <div>
            <div class="data-title">Preparation Time:</div>
            <div>{{ recipe.preparation_time }}</div>
            <div class="data-title">Feeds how many:</div>
            <div>{{ recipe.feeds_this_many }}</div>
        </div>
    </div>
</div>